{{ define "main" }}

  {{ range first 1 (where .Data.Pages "Section" "book") }}

    <main class="">

      <div class="cover bg-bottom" style="background-image:url({{ $.Params.hero.image }});">
        <div class="cf w-80-l ph4 ph4-m center pv4 pv5-l">
          <div class="fl w-100 w-50-l pt4-l">
            <div class="cf pr3 f4 f3-ns lh-copy white">
              &#8220;{{ .Params.blurb | markdownify }}&#8221;              
            </div>

            <div class="hide-s show-l">{{ partial "components/buylinks" (dict "hardcover" .Params.hardcover_isbn "paperback" .Params.paperback_isbn "ebook" .Params.ebook_isbn "buylinkClasses" "f5 link bg-animate hover-bg-near-black br2 ba ph3 pv2 mr1 mb2 db dib-ns white" "textcolor" "white") }}</div>


          </div>
          <div class="fl w-100 w-50-l pl5-l mt4 mt0-ns">
            <a href="{{ .URL }}">
              <img src="{{ .Params.cover_image }}" alt="" class="shadow-5 mt3-s mt3-m mt0-l" style="max-height: 80vh;">
            </a>
          </div>

          <div class="show-s hide-l mt5 fl w-100">{{ partial "components/buylinks" (dict "hardcover" .Params.hardcover_isbn "paperback" .Params.paperback_isbn "ebook" .Params.ebook_isbn "buylinkClasses" "f5 link bg-animate hover-bg-near-black br2 ba ph3 pv2 mr1 mb2 db dib-ns white" "textcolor" "white") }}</div>

        </div>
      </div>

      <div class="w-75-l center pa4">
        <h2 class="mt5">Praise for <i>{{ .Title }} </i> </h2>
        {{ range $blurb := .Params.reviews }}
          <div class="blurb f3-l lh-copy mb5">
            <p class="mv4">&#8220;{{ $blurb.copy_markdown | markdownify }}&#8221;</p>
            <span class="f5"> – {{ $blurb.attribution | markdownify }}</span>
          </div>

        {{ end }}
      </div>

    </main>

  {{ end }}


{{ end }}
