.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .3s ease-in-out !important;
}

.hover-bg-custom-green:hover {
  background-color: #607D8B;
}

main a {
  color: #E7040F;
}

@media (min-width: 100px) {
  .hide-s {
    display: none;
  }
}

@media (min-width: 480px) {
  .hide-m {
    display: none;
  }
}

@media (min-width: 480px) {
  .show-m {
    display: block;
  }
}

@media (min-width: 960px) {
  .hide-l {
    display: none;
  }
}

@media (min-width: 960px) {
  .show-l {
    display: block;
  }
}